<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/misScripts.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="margin-top: 50px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="container">
                <h2>Cliente por clase</h2><br /><br />
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre cliente</th>
                            <th>Nombre clase</th>
                            <th>Fecha</th>
                            <th>Hora inicio</th>
                            <th>Hora fin</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>ForEach</td>
                        <td>ForEach</td>
                        <td>ForEach</td>
                        <td>ForEach</td>
                        <td>ForEach</td>
                        <td>ForEach</td>
                    </tr>

                </table>
                <div class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</body>
</html>