<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/misScripts.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <span id="page">
        <div class="statbox" style="color:black; margin-top:50px;">
            <h2>Estadísticas de Ingresos</h2>
        </div>
        <div class="statbox" style="color:#E6293C">
            <div class="number">5,386</div>
            <div class="type" style="color:#F26F7D">
                Ilustro
                <div class="details" style="color:#E6293C">Últimos cinco años</div>
            </div>
        </div>
        <div class="statbox" style="color:#F4733D">
            <div class="number">41,400</div>
            <div class="type" style="color:#FAB669">
                Anuales
                <div class="details" style="color:#F4733D">Últimos doce meses</div>
            </div>
        </div>
        <div class="statbox" style="color:#F1F73E">
            <div class="number">248</div>
            <div class="type" style="color:#F4F799">
                Semestral
                <div class="details" style="color:#F1F73E">últimos seis meses</div>
            </div>
        </div>
        <div class="statbox" style="color:#A4E838">
            <div class="number">316</div>
            <div class="type" style="color:#C6F27E">
                Mensual
                <div class="details" style="color:#A4E838">últimos 30 días</div>
            </div>
        </div>
        <div class="statbox" style="color:#42C91C">
            <div class="number">31</div>
            <div class="type" style="color:#8AF26D">
                Semanales
                <div class="details" style="color:#42C91C">Últimos siete días</div>
            </div>
        </div>
        <div class="statbox" style="color:#2A8DDE">
            <div class="number">16</div>
            <div class="type" style="color:#7CBDF2">
                Diarios
                <div class="details" style="color:#2A8DDE">Por día</div>
            </div>
        </div>
        <div class="statbox" style="color:#7148B8">
            <div class="number">250</div>
            <div class="type" style="color:#AE8AEB">
                Ingresos con descuento
                <div class="details" style="color:#7148B8">Últimos 30 días</div>
            </div>
        </div>
        <div class="statbox" style="color:#7148B8">
            <div class="number"><h3 class="text-right">Reporte Excel</h3></div>
            <div class="type" style="color:#AE8AEB">
                <button onclick="location.href='#'" class="btn btn-info" style="width:50%; font-size:1.1em !important">Descargar</button>
            </div>
        </div>
    </span>
</body>
</html>