@model DataContracts.Rutinas

@{
    ViewBag.Title = "detallesRutina";
}

<h2>detallesRutina</h2>

<div>
    <h4>Rutinas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>

    
</div>
<p>
    @Html.ActionLink("Edit", "modificarRutina", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
